.designershopbox {
	padding: 10px 0 5px;
	border-bottom: 1px solid #ddd;
}
.designershopbox img {
	float: left;
	padding-right: 20px;
}
.designershopbox span {
	font-size: 14pt;
	color: #0a426b;
}
.divConditionBox {
	position: relative;
	float: left;
	width: 100%;
	height: 26px;
	padding: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	background-color: #fafafa;
	font-size: 14px;
}
.divConditionBox div {
	margin-top : 5px;
}
.divConditionBox span {
	padding-left: 5px;
	padding-right: 5px;
}
.designerbox {
	margin: auto;
	float: left;
	width: 200px;
}
.designerbox .dbtitle {
	margin: auto;
	float: left;
	width: 200px;
	font-size: 16px;
	font-weight: bold;
}
.designerbox .dbinfo {
	margin: 10px auto auto auto;
	float: left;
	width: 200px;
	font-size: 12px;
}
.designerbox .dbinfo ul {
	margin: 0;
	float: left;
	width: 170px;
	list-style: none;
	padding: 5px 2px 5px 20px;
}
.designerbox .dbinfo ul li {
	margin: 0;
	float: left;
	text-align: left;
	line-height: 20px;
	width: 170px;
}
.designerbox .dbinfo ul li a, .designerbox .dbinfo ul li a:visited {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}
.designerbox .dbinfo ul li a:hover {
	color: #000000;
	text-decoration: underline;
}
.itemname {
	margin: auto;
	font-size: 14px;
	color: #7F7F7F;
	padding: 5px 0px 5px 0px;
	clear: both;
}
a.custom:link, a.custom:visited, a.custom:active {
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
a.custom:hover {
	text-decoration: underline;
	color: #F26522;
	font-size: 14px;
}
.designeraboutbox {
	padding-top: 5px;
	overflow: hidden;
	padding-bottom: 10px;
}
.designeraboutbox .title {
	margin: auto;
	font-size: 14px;
	font-weight: bold;
}
.designeraboutbox .designer {
	margin: 10px 5px 0px 0px;
	float: left;
	font-size: 14px;
}
.designeraboutbox .seeshop {
	margin: 12px 0px 10px 0px;
	float: left;
}
.designeraboutbox .seeshop a, .designeraboutbox .seeshop a:visited {
	font-size: 12px;
	text-decoration: none;
	color: #0a426b;
}
.designeraboutbox .seeshop a:hover {
	font-size: 12px;
	text-decoration: underline;
	color: #F00;
}
.designeraboutbox .designerphoto {
	margin: 5px 0px;
	float: left;
	width: 50px;
}
.designeraboutbox .designer_description {
	margin: 5px 0px;
	float: left;
	padding-left: 5px;
	width: 155px;
	font-size: 14px;
}
.sdpb_item {
	margin: 0 6px 15px;
	position: relative;
	float: left;
	width: 170px;
	height: 330px;
	border: 2px solid #eee;
	padding: 3px;
	background-color: #f5f5f5;
}
#main_content .sdpb_item p.desc {
	margin: 0px;
	color: #333;
	font-size: 12px;
	text-align: center;
	font-family: Arial;
	text-decoration: none;
	padding: 10px 0;
	border-bottom: 1px dotted #DFDDDD;
	font-weight: bold;
}
.sdpb_item .category {
	margin: 5px auto auto 15px;
	font-size: 11px;
	font-family: Arial;
	text-decoration: none;
}
.sdpb_item .category a, .sdpb_item .category a:visited {
	color: #666;
	text-decoration: underline;
}
.sdpb_item .category a:hover {
	color: #0a426b;
}
.sdpb_item .seemore {
	background-color: #0A426B;
	border-radius: 3px;
	bottom: 5px;
	font-family: Arial;
	font-size: 11px;
	height: 17px;
	line-height: 17px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-decoration: none;
	width: 60px;
}
.sdpb_item .seemore a, .sdpb_item .seemore a:visited {
	color: #fff;
	text-decoration: none;
}
.sdpb_item .seemore a:hover {
	text-decoration: underline;
}
.sellthisdesignbox {
	margin: auto;
	padding: 30px 10px;
}
.sellthisdesignbox .title {
	font-size: 20px;
}
.sellthisdesignbox .desc {
	font-size: 14px;
}
.sellthisdesignbox .buttonbox {
	float: right;
	background-color: #0a426b;
	width: 120px;
	height: 24px;
	padding-top: 4px;
	text-align: center;
}
.sellthisdesignbox .buttonbox a, .sellthisdesignbox .buttonbox a:visited {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.sellthisdesignbox .buttonbox a:hover {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: underline;
	cursor: pointer;
}
#main_content .left_desc {
	width: 370px;
	margin: 0 0 0 10px;
	float: left;
	padding-top: 5px;
}
#main_content .right_desc {
	margin: 0 10px 0 0;
	float: left;
	width: 350px;
}
#main_content .left_desc p, #main_content .right_desc p {
	color: #000
}
a.orange12:link, a.orange12:visited, a.orange12:active {
	color: #0a426b;
	font-size: 12px;
	text-decoration: none;
}
a.orange12:hover {
	text-decoration: underline;
	color: #F00;
	font-size: 12px;
}
#desc p {
	color: #000;
}
#spec {
	margin-bottom: 20px;
}
#main_content .mc_photobox .mcpb_item p.photo img {
	border: none;
}
#main_content .mc_photobox .mcpb_item p.total {
	color: #333;
	font-size: 12px;
}
#divProducts .prokind_mid li {
	float: left;
	list-style: none;
	margin: 2px;
	padding: 1px 5px;
	border: 1px solid #ddd;
}
#divProducts .prokind_more {
	float: right;
	margin: auto;
	padding-right: 8px;
	padding-top: 5px;
	position: relative;
}
.promotion_title {
	font-weight: bold;
}
#promotion_desc_introduce, #promotion_config {
	margin-top: 15px;
}
#promotion_config td {
	height: 25px;
}
#main_content .mc_protpbox .proinfobox .prosec_lbox .pro_right_side a.pack {
	color: #0a426b;
	font-size: 12px;
	cursor: pointer;
	text-decoration: underline;
	line-height: 18px;
}
#main_content .mc_protpbox .proinfobox .prosec_lbox .pro_right_side a.pack:hover {
	color: #F00;
}
#main_content .mc_protpbox .proinfobox .packoption_box .packbox {
	margin-left: 10px;
}
#main_content .mc_protpbox .proinfobox .prosec_lbox .pro_right_side a.orange12 {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
#main_content .mc_protpbox .proinfobox .prosec_lbox .pro_right_side a.orange12:hover {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
#main_content .mc_protpbox .item_description .left_desc #spec .prospec ul li .packbox .packwith {
	font-weight: bold;
}
#main_content .mc_protpbox .item_description .left_desc #spec .prospec ul li .packbox .pack {
	text-decoration: underline;
}
#main_content .mc_protpbox .proinfobox .productattachbox .title {
	margin: auto;
	float: left;
	font-weight: bold;
	font-size: 15px;
	color: #333;
	display: block;
}
#main_content .mc_protpbox .item_description .left_desc #spec .productattachbox .title {
	font-weight: bold;
	padding-right: 3px;
}
#main_content .mc_protpbox .proinfobox .productattachbox .desc {
	margin: auto auto auto 5px;
	float: left;
}
.prosec_lbox .cartbox {
	float: none;
	overflow: hidden;
	padding: 0 0 10px 0;
}
#divProducts .prokind_mid {
	background-color: #fff;
}
#divProducts .prokind_mid ul.sub_list {
	padding-left: 0px;
}

#Pager1, #Pager2 {
	clear: both;
}
#Pager1 div.grey12, #Pager2 div.grey12 {
	width: 25% !important;
}
#Pager1 div.grey12:nth-of-type(2), #Pager2 div.grey12:nth-of-type(2) {
	width: 75% !important;
}
#Pager1 div.grey12 a.grey12, #Pager2 div.grey12 a.grey12 {
	margin: auto;
	position: relative;
	float: left;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	background-color: #0a426b;
	display: block;
	padding: 4px 7px;
	border-radius: 2px;
	line-height: normal;
}
#Pager1 div.grey12 span, #Pager2 div.grey12 span {
	margin: auto;
	position: relative;
	float: left;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	background-color: #0a426b;
	display: block;
	border-radius: 2px;
	width: 24px;
	height: 23px;
	text-align: center;
}
#Pager1 div.grey12 a.grey12:hover, #Pager2 div.grey12 a.grey12:hover {
	margin: auto;
	position: relative;
	float: left;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	background-color: #0961a2;
}
#Pager1 div.grey12 span, #Pager2 div.grey12 span {
	color: #fff !important;
	background-color: #0961a2;
	line-height: 22px;
}
#Pager1 div.grey12 a[disabled="disabled"], #Pager2 div.grey12 a[disabled="disabled"] {
	background-color: #0a426b;
	padding: 4px 7px;
	border-radius: 2px;
	margin: 0 4px;
	color: #fff;
	float: left;
	line-height: 15px;
}

@media only screen and (max-width: 650px) {
    #Pager1 div.grey12, Pager2 div.grey12 {
	    width: 0 !important;
    }
    #Pager1 div.grey12:nth-of-type(2), #Pager2 div.grey12:nth-of-type(2) {
	    width: 100% !important;
    }
}

/* For tablets and mobile: */
@media only screen and (max-width: 699px) {
    *{
	    box-sizing: border-box;
    }
    .divContent:after {
	    content: "";
	    clear: both;
	    display: block;
    }
    #main_content .left_desc {
	    width: 100% !important;
	    margin: 0 0 20px 0 !important;
    }
    #main_content .right_desc {
	    width: 100%!important;
	    margin: 0px;
    }
    #main_content .mc_protpbox {
	    overflow: hidden!important;
	    padding: auto !important;
    }
}
